@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.text-animation {
  animation: text 3s 4;
}

.description-animation {
  animation: description 3s 4;
}

@keyframes text {
  0%{
    color: white;
    margin-bottom: -10px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -10px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -10px;
  }
}

@keyframes description {
  0%{
    display: none;
    margin-top: 30px;
  }
  30%{
    letter-spacing: 0.5px;
    display: block;
    margin-top: 30px;
  }
  85% {
    margin-top: 30px;
  }
}

.animated-image {
  animation: zoomIn 10s infinite alternate;
}

@keyframes zoomIn {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.1);
  }
}